<h1 id="title">memory-perf</h1>
<div>
  <h2>Classic</h2>
  <ul>
    {{#each this.count as |i|}}
      <li>
        <OldStyle @input="value is {{i}}" />
      </li>
    {{/each}}
  </ul>
</div>

<div>
  <h2>Glimmer</h2>
  <ul>
    {{#each this.count as |i|}}
      <li>
        <NewStyle @input="value is {{i}}" />
      </li>
    {{/each}}
  </ul>
</div>